<!-- Generated template for the CrudFirebaseComponent component -->
<div>
  {{text}}
  <!--<ul>
    <li *ngFor="let item of items | async">
      {{ item | json}}
    </li>
  </ul> -->
  

        <ion-item>
                <ion-label floating>Nom</ion-label>
                <ion-input [(ngModel)]="item.name" placeholder="name"
                    type="text"></ion-input>
        </ion-item>
          
        <ion-item>
          <ion-label floating>Quantity</ion-label>
          <ion-input [(ngModel)]="item.quantity" placeholder="number"
              type="number"></ion-input>
        </ion-item>      
  
       
  <ion-row>
      <ion-col text-center>
        <button ion-button block color="light" (click)="addItem(item.name,item.quantity)" >Add</button>
        <button ion-button block color="default" (click)="addItem(item.name,item.quantity)" >Push</button>
        <button ion-button  (click)="toggleDone(item)">toggle</button>
        <button ion-button (click)="updateitem(item,'resalut')" color="secondary">update</button>
        <button ion-button (click)="deleteitem(item)" color="danger">delete</button>
        <button ion-button   (click)="inFormation()" color="dark">info</button>
      </ion-col>
    </ion-row>
  <!--<ul>
      <li *ngFor="let item of items">
        {{ item }}
      </li>
      
  
  </ul> -->
  
{{ item | json }}


 <!--<ion-buttons end>
    <button ion-button icon-only (click)="addSong()">
      <ion-icon name="add"></ion-icon>
    </button>
</ion-buttons>

<ion-list>
      <ion-item *ngFor="let song of songs">
        {{song.title}}
      </ion-item>
</ion-list>

<ion-item *ngFor="let song of songs" (click)="showOptions(song.id, song.title)"></ion-item>-->
  

  
  
  
</div>
