
<!-- Generated template for the FooterComponent component -->
<ion-footer>
    <ion-toolbar color="dark">
                <ion-item color="dark">
                        <ion-avatar item-start color="light">
                                <img src="../../assets/img/senses_logo.jpg">
                        </ion-avatar>
                        <p ion-text color="light">Copyright &copy; Kummler & Matter</p>
                </ion-item>
                <ion-buttons end>
                        <button ion-button icon-right color="dark" ion-text color="light">
                                Send
                                <ion-icon name="at" color="light"></ion-icon>
                        </button>
                </ion-buttons>        
    </ion-toolbar>
</ion-footer>

