<!-- Generated template for the AuthComponent component -->
<div>
  {{text}}
  
  <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
  <form [formGroup]="credentialsForm">
      <div *ngIf="!(authService.user | async)">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input [formControl]="credentialsForm.controls['email']" [(ngModel)]="email" placeholder="email"
              type="email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [formControl]="credentialsForm.controls['password']"[(ngModel)]="password" placeholder="password"
              type="password"></ion-input>
        </ion-item>      
  
        <ion-row>
          <ion-col text-center>
            <button ion-button block color="secondary" (click)="signup()" [disabled]="!email || !password">
              Signup
            </button>
            <button ion-button block color="default" (click)="login()" [disabled]="!email || !password">
              Login
            </button>
            <button ion-button block color="danger" (click)="logout()" *ngIf="authService.user | async">
              Logout
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col text-center>
          <button ion-button block color="danger" (click)="logout()" *ngIf="authService.user | async">
              Logout
          </button>
        </ion-col>
      </ion-row>
  </form>
  
</div>
